version: '3.8'

services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - ./src:/var/www/src
    working_dir: /var/www/src
    tty: true

  db:
    image: mysql:8.0
    container_name: laravel_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3307:3306"

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/src/var/www/src:z
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:z
    depends_on:
      - app
